module test_module2 1.0;

require {
    type my_test_file_t;
    type unconfined_t;
    class file ioctl;
}

allow unconfined_t my_test_file_t : file ioctl;
allowxperm unconfined_t my_test_file_t : file ioctl 0x42;
