module test_module 1.0;

require {
    type admin_home_t;
    type user_devpts_t;
    type node_t;
    type unreserved_port_t;
    role unconfined_r;
    attribute domain;
    attribute node_type;
    class file { entrypoint map execute getattr read write };
    class chr_file { getattr read write append };
    class tcp_socket { create connect getattr bind name_bind node_bind };
}

# create new domain
type my_test_domain_t;
typeattribute my_test_domain_t domain;
role unconfined_r types my_test_domain_t;

# allow running program in this domain
allow my_test_domain_t admin_home_t:file { entrypoint map execute getattr read write };
allow my_test_domain_t user_devpts_t:chr_file { getattr read write append };
allow my_test_domain_t self:tcp_socket { create connect getattr bind };
allow my_test_domain_t unreserved_port_t:tcp_socket { name_bind };

# node types
type my_node_t;
typeattribute my_node_t node_type;
